doctype html
html
	head
		title="Welcome"
		style
			include welcome.css
	body
		div.welcome
			h1 WITAMY!
			p Elwira Marcinkowska 2018
			img.image(src='https://cdn.pixabay.com/photo/2018/05/04/20/19/butterfly-3374887__340.jpg' alt='')
			
			
			

